body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .image-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 100px;
  }
  button {
    width: 1200px;
    height: 500px;
  }
  button img {
    width: 100%;
    height: 100%;
  }